nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20%;
}

.header {
  display: flex;
  background-color: rgb(12, 67, 48);
  color: white;
   justify-content:flex-start;

}

.footer {
  text-align: center;
}