.nav-item {
  text-decoration: none;
}

.formItem {
  margin:.5rem;
 
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: rgb(12, 67, 48);
  color: white;
   justify-content:flex-start;

}

.footer {
  text-align: center;
}